chart{
    width: 100%; height: 100%; float: right;
}

.time { 
    text-align: center;
    color:White;
}

chart:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }
